<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>FLORA</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'flora/css/main.css' %}">
    <noscript>
        <link rel="stylesheet" href="{% static 'flora/css/noscript.css' %}">
    </noscript>
</head>

<body class="is-preload">

<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="{% url 'flora:index' %}">FLORALOVELY</a></h1>
        <!-- Menu -->
        <nav id="nav">
            <ul>
                <li class="special">
                    <a href="#menu" class="menuToggle"><span>Меню</span></a>
                    <div id="menu">
                        {% if menu_list %}
                            <ul>
                                {% for k, v in menu_list.items %}
                                    <li><a href="/{{ k }}">{{ v }}</a></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>No menu items are available.</p>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <article id="main3">
        <header>
            <h2>Уход за растениями</h2>
            <p>Здесь можно узнать о том, как ухаживать за растениями</p>
        </header>

        <section class="wrapper style5">
            <div class="inner">
                <h3>Основные правила ухода за комнатными растениями</h3>
                <p class="paragraph">
                    <span class="image right"><img src="{% static 'flora/images/rom1.jpg' %}"></span>
                    Ромашка садовая является достаточно неприхотливым в уходе растением. Для того чтобы она полноценно росла и развивалась ей необходимо:
                        <li class="paragraph">Обеспечить своевременный и обильный полив.</li>
                        <li class="paragraph">Данное растение очень не любит сорняки, поэтому нужно производить его регулярную прополку. Прополка поможет
                        не только избавиться от сорняков, но и пропустит воздух к корневой системе ромашки, а также рыхление земли,
                        так как данное растение очень любит плодородные почвы.</li>
                        <li class="paragraph">Саженцы данного растения, которые высаживаются в маке, необходимо часто поливать и подкармливать. С этой
                        целью может быть использован настой коровяка или азотные удобрения. </li>
                        <li class="paragraph">Взрослые куcты растения также нуждаются в подкормках. С этой целью используется мочевина. Ее
                        необходимо всего лишь 20 грамм на один квадратный метр.
                        При сухой погоде почва после внесения удобрений проливается водой. </li>
                        <li class="paragraph">Если листья ромашки садовой стали приобретать светло-зеленую окраску, тогда необходимо провести ее
                        повторную подкормку. Необходимость в повторной подкормке возникает только в том случае, если при уходе и
                            высадки растения не соблюдалась агротехника.</li>
                        <li class="paragraph">Внесение минеральных удобрений должно чередоваться с внесением куриного помета, что ограничит возможность
                        закисления почвы, негативно влияющее на данное растение.</li>
                </p>

                <hr/>

                <p><span class="image left"><img src="{% static 'flora/images/fialka.jpg' %}"></span>
                    Как вырастить фиалку в условиях городской квартиры и какой температурный режим является
                    для нее оптимальным? Цветы фиалки перестают развиваться, когда температура опускается ниже
                    15 ºC, поэтому необходимо поддерживать в помещении умеренно теплую температуру летом и умеренно
                    прохладную зимой. Оптимальная температура для сенполии 18-24 ºC.
                <h4>Горшки для фиалок</h4>
                    <p class="paragraph"> Горшок для сенполии должен быть небольшим, поскольку корень фиалки много места не занимает,
                    да и обильно цвести растение начинает только тогда, когда корни освоят все внутреннее пространство горшка. Молодым
                    сенполиям нужен горшочек диаметром 5-6 см, а для взрослой фиалки достаточно иметь горшок диаметром 7-9 см. И только
                    очень крупным растениям понадобится емкость диаметром 11-13 см. Расчет для подбора посуды простой: диаметр емкости должен
                    быть в три раза меньше диаметра розетки листьев. И заметьте, что комнатная фиалка дорогим глиняным горшками предпочитает
                    пластиковые.
                    </p>
                </p>

                <p class="paragraph"><span class="image right"><img src="{% static 'flora/images/fialka2.jpg' %}"></span>

                <h4>Грунт для фиалок</h4>
                <p class="paragraph">
                        Уход за домашней фиалкой предусматривает выбор для нее грунта определенного состава. В
                    магазинах продается почвенная смесь для сенполий, однако опыт показывает, что она подходит далеко не всем фиалкам.
                    А вот универсальный цветочный грунт типа «Терра-вита» фиалкам подходит. Можно составить субстрат самостоятельно из
                    дерновой и листовой земли, песка и перегноя в пропорции 0,5:2:1:1. В ведро готовой смеси можно внести столовую ложку
                    суперфосфата и полстакана костной муки и все тщательно перемешать. Главные требования к грунту для сенполий:
                    он должен быть рыхлым, быстро впитывать воду и хорошо пропускать воздух. Но перед тем, как наполнить горшок субстратом,
                    поместите в него слой дренажа из керамзита, вермикулита, кусочков пенопласта или мха-сфагнума объемом в треть горшка –
                    дренаж защитит вашу фиалку от застоя воды в корнях, от которого она может погибнуть. На дренаж можно положить кусочек
                    древесного угля.
                </p>
                </p>
                </p>

                <hr/>

                 <p class="paragraph"><span class="image right"><img src="{% static 'flora/images/sunflower.jpg' %}"></span>

                <h4>Грунт для фиалок</h4>
                <p class="paragraph">
                    <br><br>Подсолнечник неприхотлив к условиям произрастания (например, может переносить весенние кратковременные заморозки до -5°C),
                    засухоустойчив. Но чтобы вы получили при сборе урожая крупные и красивые семечки, нужно будет уделить ему достаточно внимания.
                    <br><br>Во-первых, для хорошего урожая высаживать подсолнечник необходимо на плодородную почву. Лучшим вариантом будет почва со
                    средним количеством глины в корнях подсолнечника и с достаточным количеством влаги под ними. На кислой, болотной и засоленной
                    земле посадку проводить не стоит. Еще подсолнух не стоит высаживать на участки, где раньше до этого произрастали бобовые (бобы,
                    горох, соя), сахарная свекла и томаты (из-за избытка азота в почве после этих растений), а вот земля после посадки зерновых
                    культур и кукурузы отлично подойдет.
                    <br><br>Также не советуем вам высаживать растение несколько лет подряд на одном и том же участке (желательно вообще сделать перерыв
                    на 3-4 года), так как подсолнечник очень активно потребляет необходимые ему питательные вещества из почвы, буквально высасывая
                    их из земли. Кроме того, подсолнечник подвержен различным заболеваниям, поэтому такая передышка позволит избавиться от большинства
                    возбудителей болезней (от которых страдает растение), оставшихся в земле. Еще один важный фактор – выбранное место для посадки
                    должно быть солнечным и безветренным.
                </p>
                </p>
                </p>

                <hr/>

                <div style="text-align: center"><iframe width="560" height="315" src="https://www.youtube.com/embed/yW23Ze3E5rM" title="YouTube video player"
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
                        picture-in-picture; web-share" allowfullscreen></iframe>
                </div>

            </div>
        </section>
    </article>

    <!-- Footer -->
    <footer id="footer">
        <ul class="copyright">
            <li>&copy; Покидова Алина</li>
            <li>Михайлов Илья</li>
            <li>Сигусов Виталий</li>
            <li>2022-2023</li>
        </ul>
    </footer>

</div>

<!-- Scripts -->
<script type="text/javascript" src="{% static 'flora/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/jquery.scrollex.min.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/jquery.scrolly.min.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/browser.min.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/breakpoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/util.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/main.js' %}"></script>

<style>
    .paragraph {
        text-align: justify;
    }
</style>

</body>
</html>
