<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>FLORA</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'flora/css/main.css' %}">
    <noscript>
        <link rel="stylesheet" href="{% static 'flora/css/noscript.css' %}">
    </noscript>
</head>

<body class="is-preload">

<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="{% url 'flora:index' %}">FLORALOVELY</a></h1>
        <!-- Menu -->
        <nav id="nav">
            <ul>
                <li class="special">
                    <a href="#menu" class="menuToggle"><span>Меню</span></a>
                    <div id="menu">
                        {% if menu_list %}
                            <ul>
                                {% for k, v in menu_list.items %}
                                    <li><a href="/{{ k }}">{{ v }}</a></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>No menu items are available.</p>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <article id="main_garden">
        <header>
            <h2>Садовые и декоративные растения</h2>
            <p>Здесь можно узнать о распространенных практиках садоводства</p>
        </header>

        <section class="wrapper style5">
            <div class="inner">
                <h3>Постулаты искусства садоводства и икебаны</h3>

                <p class="paragraph">
                    Добро пожаловать на наш блог о садовых и декоративных растениях! Независимо от того, являетесь ли вы
                    опытным садоводом или только начинаете заниматься зелеными делами, эта статья поможет вам выбрать
                    правильные растения для вашего открытого пространства и даст вам советы, как сохранить их здоровыми
                    и красивыми.
                </p>

                <p class="paragraph">
                    Известно, что цветы, деревья и кустарники являются одними из основных составляющих интерьера дома
                    или садового ландшафтного дизайна. Их выращиванием и разведением занимаются не в практичных целях,
                    а для состояния души и визуальной составляющей. Декорирование и облагораживание способствуют
                    освобождению
                    информационного пространства - свободе мыслей.
                </p>

                <p>Популярные садовые растения:</p>
                <ul>
                    <li>
                        Розы. Розы — классический и популярный выбор для любого сада. Они бывают разных цветов и могут
                        выращиваться как лианы, кустарники или кустарники. Чтобы ваши розы были здоровыми, убедитесь,
                        что они получают много солнца, регулярно поливайте и обрезайте их весной.
                    </li>
                    <li>
                        Лаванда. Лаванда — это ароматное растение, не требующее особого ухода, которое идеально подходит
                        для бордюров или в качестве центральной части вашего сада. Они процветают в хорошо дренированной
                        почве и нуждаются в очень небольшом количестве воды после укоренения.
                    </li>
                    <li>
                        Гортензии - Гортензии известны своими крупными, эффектными цветами и бывают разных цветов. Они
                        предпочитают полутень и нуждаются в регулярном поливе.
                    </li>
                    <li>
                        Лилейники. Лилейники легко выращивать, они бывают разных цветов. Они предпочитают полное солнце
                        и хорошо дренированную почву. Им также требуется регулярный полив в течение вегетационного
                        периода.
                    </li>
                    <li>
                        Пионы. Пионы — еще одно популярное садовое растение, известное своими крупными ароматными
                        цветами. Они предпочитают полутень и хорошо дренированную почву. Не забудьте обрезать их после
                        цветения, чтобы они оставались здоровыми.
                    </li>
                </ul>

                <hr>


            </div>
        </section>
    </article>

    <!-- Footer -->
    <footer id="footer">
        <ul class="copyright">
            <li>&copy; Покидова Алина</li>
            <li>Михайлов Илья</li>
            <li>Сигусов Виталий</li>
            <li>2022-2023</li>
        </ul>
    </footer>

</div>

<!-- Scripts -->
<script type="text/javascript" src="{% static 'flora/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/jquery.scrollex.min.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/jquery.scrolly.min.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/browser.min.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/breakpoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/util.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/main.js' %}"></script>

{#<script>#}
{#    function raschitat() {#}
{#        cvet = document.getElementById('cvet').value;#}
{#        switch (cvet) {#}
{#            case "serii":#}
{#                cena = 150;#}
{#                break#}
{#            case "goluboi":#}
{#                cena = 100;#}
{#                break#}
{#            case "geltii":#}
{#                cena = 110;#}
{#                break#}
{#            default:#}
{#                cena = 100;#}
{#                break#}
{#        }#}
{#        packet = document.getElementById('packet').value;#}
{#        switch (packet) {#}
{#            case "wood":#}
{#                cena1 = 200;#}
{#                break#}
{#            case "plastic":#}
{#                cena1 = 450;#}
{#                break#}
{#            case "korzina":#}
{#                cena1 = 1000;#}
{#                break#}
{#            default:#}
{#                cena1 = 200;#}
{#                break#}
{#        }#}
{#        dlina = document.getElementById('dlina').value;#}
{#        if (dlina == "") {#}
{#            alert("Вы не указали длину");#}
{#        } else {#}
{#            stoimost = (dlina * cena) + cena1;#}
{#            document.getElementById('stoimost').innerHTML = "Стоимость равна: " + stoimost + " р.";#}
{#        }#}
{#    }#}
{#</script>#}


<style>
    .paragraph {
        text-align: justify;
    }
</style>

</body>
</html>
