<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>FLORA</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'flora/css/main.css' %}">
    <noscript>
        <link rel="stylesheet" href="{% static 'flora/css/noscript.css' %}">
    </noscript>
</head>

<body class="is-preload">

<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="{% url 'flora:index' %}">FLORALOVELY</a></h1>
        <!-- Menu -->
        <nav id="nav">
            <ul>
                <li class="special">
                    <a href="#menu" class="menuToggle"><span>Меню</span></a>
                    <div id="menu">
                        {% if menu_list %}
                            <ul>
                                {% for k, v in menu_list.items %}
                                    <li><a href="/{{ k }}">{{ v }}</a></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>No menu items are available.</p>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <article id="main_garden">
        <header>
            <h2>Садовые и декоративные растения</h2>
            <p>Здесь можно узнать о распространенных практиках садоводства</p>
        </header>

        <section class="wrapper style5">
            <div class="inner">
                <h3>Постулаты искусства садоводства и икебаны</h3>
                <p class="paragraph">
                    Известно, что цветы, деревья и кустарники являются одними из основных составляющих интерьера дома
                    или садового ландшафтного дизайна. Их выращиванием и разведением занимаются не в практичных целях,
                    а для состояния души и визуальной составляющей. Декорирование и облагораживание способствуют
                    освобождению
                    информационного пространства - свободе мыслей.
                </p>
                <p class="paragraph">Самые важные параметры ухода за цветком:
                <ul>
                    <li>температура</li>
                    <li>свет</li>
                    <li>влажность</li>
                    <li>питательные вещества</li>
                </ul>
                </p>

                <hr>

                <h4>Температурный режим в уходе за цветами</h4>
                <p class="paragraph">
                    Растения не зря получили название «комнатные» — им действительно
                    комфортно при такой температуре.
                    Большинство цветов развиваются лучше всего при 13-24 градусах, и только экзотические сорта требуют
                    более высоких показателей.
                    Некоторые наоборот лучше растут в холоде. Для них максимальная отметка тепла — 16 градусов:
                    при более высоких режимах листья начинают портиться.
                </p>
                <p class="paragraph">
                    Теплолюбивые растения расцветают при температуре от 16 градусов тепла.
                    Большинство цветов способны выдержать небольшие отклонения от нормы без видимого ущерба.
                    Они смогут пережить некоторый период в холоде или жаре. Главное — избегать резких перепадов
                    температур.
                    Только кактусы и суккуленты могут справиться с неожиданной сменой режима: в природе они обитают в
                    местах,
                    где днем жарко, а ночью прохладно.
                </p>

                <hr>

                <h4>Освещение для растений</h4>
                <p class="paragraph">
                    Чтобы цветок мог расти и развиваться, важно обеспечить для него
                    подходящий режим освещения.
                    Если это условие не выполняется, то процессы синтеза замедляются, цветок не получает нужных
                    питательных веществ и начинает погибать.
                    Самый простой способ обеспечить доступ к свету — поставить растение у окна. Можно использовать и
                    искусственное освещение
                    (не менее 12 часов в день).
                </p>
                <p class="paragraph">
                    Не забывайте про такой параметр, как интенсивность освещения.
                    Одни растения требуют яркого солнечного света и тянутся к нему, а другие лучше растут в тени.
                    Регулировать яркость освещения можно и в пределах одной комнаты. Достаточно отойти на несколько
                    шагов от окна
                    и интенсивность света уменьшится в половину. Если уйти вглубь комнаты, свет сократится на 95%.
                    Выбрав подходящее
                    для цветка место, вы увидите, как он активно растет и цветет.
                </p>

                <ol type="1">
                    <li>бледность листьев</li>
                    <li>наклон в сторону окна</li>
                    <li>отсутствие цветов</li>
                    <li>слишком вытянутые стебли</li>
                    <li>сухие нижние листья</li>
                </ol>

                <p class="paragraph">
                    Наблюдая эти признаки, нужно как можно скорее увеличить количество света,
                    перенести горшок
                    в другое место или установить источник искусственного освещения.
                </p>

                <div class="box alt">
                    <div class="row gtr-50 gtr-uniform">
                        <div class="col-4"><span class="image fit"><img
                                src="{% static 'flora/images/pic01.jpg' %}"></span></div>
                        <div class="col-4"><span class="image fit"><img
                                src="{% static 'flora/images/pic02.jpg' %}"></span></div>
                        <div class="col-4"><span class="image fit"><img
                                src="{% static 'flora/images/pic03.jpg' %}"></span></div>
                        <div class="col-4"><span class="image fit"><img
                                src="{% static 'flora/images/pic03.jpg' %}"></span></div>
                        <div class="col-4"><span class="image fit"><img
                                src="{% static 'flora/images/pic02.jpg' %}"></span></div>
                        <div class="col-4"><span class="image fit"><img
                                src="{% static 'flora/images/pic01.jpg' %}"></span></div>
                        <div class="col-4"><span class="image fit"><img
                                src="{% static 'flora/images/pic01.jpg' %}"></span></div>
                        <div class="col-4"><span class="image fit"><img
                                src="{% static 'flora/images/pic02.jpg' %}"></span></div>
                        <div class="col-4"><span class="image fit"><img
                                src="{% static 'flora/images/pic03.jpg' %}"></span></div>
                    </div>
                </div>

                <p class="paragraph">
                    Признаки избытка света:
                <ol type="1">
                    <li>темные и красные пятна на листьях</li>
                    <li>блеклость</li>
                    <li>вялость растения</li>
                </ol>
                Зимой все растения лучше размещать на подоконнике. Короткий световой день не помешает и тем цветам,
                которые зимой находятся в состоянии покоя.
                </p>

                <h4>Полив комнатных растений</h4>
                <p class="paragraph">
                    Частота полива зависит не только от типа цветка, но также от температуры воздуха, влагоемкости
                    почвы,
                    освещения и многих других особенностей. Алоэ, агава и другие растения с сочными листьями требуют
                    меньше влаги,
                    чем гибискусы и другие виды с крупными листьями. Луковичным растениям противопоказан чрезмерный
                    полив — луковица может просто сгнить.<br>
                    Обильного полива требуют растения цветущие и находящиеся в фазе роста, с большим количеством
                    листьев,
                    с мощной корневой системой. Дополнительная влага понадобится цветкам в глиняных горшках с крупными
                    дренажными отверстиями.
                    Сигналом к частому поливу считается и жаркая погода, и сухой теплый воздух зимой. При любых
                    сомнениях помните:
                    лучше поливать понемногу и часто, чем редко и обильно.
                </p>
                <div class="box alt">
                    <div class="row gtr-50 gtr-uniform">
                        <div class="col-4"><span class="image fit"><img
                                src="{% static 'flora/images/pic02.jpg' %}"></span></div>
                        <div class="col-4"><span class="image fit"><img
                                src="{% static 'flora/images/pic01.jpg' %}"></span></div>
                        <div class="col-4"><span class="image fit"><img
                                src="{% static 'flora/images/pic03.jpg' %}"></span></div>
                    </div>
                </div>

                <p class="paragraph">
                    Для полива больше всего подходит мягкая дождевая вода. Водопроводную
                    лучше предварительно пропустить через фильтр,
                    чтобы исключить из нее соли, которые противопоказаны азалиям, орхидеям, папоротникам, камелиям.
                    Чтобы смягчить воду, в нее можно добавить древесную золу (3г на литр) или торф (10г на литр).
                    Подойдет также кипяченая вода.
                    <br><br>
                    Обобщенный режим полива в разные времена года:
                <ol type="1">
                    <li>лето — каждый день</li>
                    <li>весна — через день</li>
                    <li>осень — каждые 2-3 дня</li>
                    <li>зима — раз в 2 недели</li>
                </ol>
                Внимательно присмотритесь к цветам. Заметили, что листья поникли, бутоны завяли, а земля сухая?
                Срочно спасайте питомца: все говорит о недостатке воды. Об избытке влаги можно судить по коричневым
                кончикам листьев,
                налете на стеблях, плесени на поверхности земли и замедлению роста. В этом случае уберите влагу с
                помощью бумажных
                салфеток и проверьте состояние корневой системы. Если она повреждена, то попробуйте удалить
                потемневшие и подгнившие корни при помощи обычных ножниц, а затем посадите цветок в новую почву.
                </p>
                <h4>Как и чем подкармливать растения?</h4>
                <p class="paragraph">
                    Если растения страдают от недостатка питания, им требуется дополнительная
                    подкормка:
                    почва истощается и не может дать нужных веществ. В таком случае прежде всего нужно пересадить
                    растение
                    в новый грунт, а через 2 месяца начать подкармливать его. Удобрения понадобятся и в том случае, если
                    вы посадили растение в неподходящий грунт. Понять, какого именно компонента не хватает для
                    нормального
                    роста тяжело, поэтому лучше всего пересадить растение.
                </p>

                <hr/>

                <p class="paragraph">
                    Удобрять рекомендуется только здоровые растения в период их цветения и
                    роста.
                    В регулярной подкормке особенно нуждаются быстрорастущие цветы. Вносить удобрения в сухом виде не
                    стоит — так можно повредить корни. Лучше развести вещества с водой и поливать землю. Удобрения
                    делятся на:
                <ol type="1">
                    <li>азотные;</li>
                    <li>фосфорно-кислые;</li>
                    <li>калийные.</li>
                </ol>
                Азотные усиливают рост стеблей и листьев, но их избыток грозит грибковыми заболеваниями и задержкой
                цветения.
                Фосфорно-кислые способствуют появлению большего количества почек и длительному цветению.
                Калийные усиливают рост и цветение, поэтому используются в период появления бутонов. Избыток удобрений
                всегда негативно
                сказывается на растениях, поэтому их количество важно контролировать и подбирать оптимальный объем.
                </p>

                <hr/>

                <h4>Влажность воздуха в уходе за растениями</h4>
                <p class="paragraph">
                    Недостаточная или чрезмерная влажность воздуха тоже отражается на
                    состоянии комнатной флоры.
                    Летом и весной влажность воздуха в квартире не опускается ниже 50%, а зимой воздух становится сухим
                    из-за отопления.
                    Самый простой способ поддерживать нужный уровень влаги в воздухе — это опрыскивание.
                    Большинство растений можно опрыскивать ежедневно.
                    Нельзя опрыскивать фиалки, глоксинии и другие цветы с бархатистыми листьями.<br><br>
                    Оптимальные условия для опрыскивания — температура 24-26 градусов. В жару листья опрыскивать нельзя:
                    это приведет к ожогам. Влажность воздуха можно повысить с помощью больших емкостей воды или
                    полотенца:
                    поместите его на батарею и регулярно смачивайте. Также поможет специальная техника —
                    увлажнители, которые сами регулируют количество влаги.<br><br>
                    Попробуйте завести свой сад и вы увидите, как изменится ваше настроение: уход за растениями может
                    подарить
                    гармонию в душе. Ведь это так приятно: смотреть на пышную зелень, которая
                    распустилась на подоконнике благодаря вашим усилиям и заботе.<br><br>
                </p>

                {#                <h3>Расчет стоимости букета</h3>#}
                {#                <select id="cvet">#}
                {#                    <option value="serii">Розы</option>#}
                {#                    <option value="geltii">Хризантемы</option>#}
                {#                    <option value="goluboi">Пионы</option>#}
                {#                </select>#}
                {#                <select id="packet">#}
                {#                    <option value="wood">Бумажная упаковка</option>#}
                {#                    <option value="plastic">Пластиковая упаковка</option>#}
                {#                    <option value="korzina">Корзинка</option>#}
                {#                </select>#}
                {#                <input type="text" id="dlina" value="" placeholder="укажите количество цветов">#}
                {#                <button onclick="raschitat();">Рассчитать стоимость</button>#}
                {#                <div id="stoimost"></div>#}
            </div>
        </section>
    </article>

    <!-- Footer -->
    <footer id="footer">
        <ul class="copyright">
            <li>&copy; Покидова Алина</li>
            <li>Михайлов Илья</li>
            <li>Сигусов Виталий</li>
            <li>2022-2023</li>
        </ul>
    </footer>

</div>

<!-- Scripts -->
<script type="text/javascript" src="{% static 'flora/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/jquery.scrollex.min.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/jquery.scrolly.min.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/browser.min.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/breakpoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/util.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/main.js' %}"></script>

{#<script>#}
{#    function raschitat() {#}
{#        cvet = document.getElementById('cvet').value;#}
{#        switch (cvet) {#}
{#            case "serii":#}
{#                cena = 150;#}
{#                break#}
{#            case "goluboi":#}
{#                cena = 100;#}
{#                break#}
{#            case "geltii":#}
{#                cena = 110;#}
{#                break#}
{#            default:#}
{#                cena = 100;#}
{#                break#}
{#        }#}
{#        packet = document.getElementById('packet').value;#}
{#        switch (packet) {#}
{#            case "wood":#}
{#                cena1 = 200;#}
{#                break#}
{#            case "plastic":#}
{#                cena1 = 450;#}
{#                break#}
{#            case "korzina":#}
{#                cena1 = 1000;#}
{#                break#}
{#            default:#}
{#                cena1 = 200;#}
{#                break#}
{#        }#}
{#        dlina = document.getElementById('dlina').value;#}
{#        if (dlina == "") {#}
{#            alert("Вы не указали длину");#}
{#        } else {#}
{#            stoimost = (dlina * cena) + cena1;#}
{#            document.getElementById('stoimost').innerHTML = "Стоимость равна: " + stoimost + " р.";#}
{#        }#}
{#    }#}
{#</script>#}


<style>
    .paragraph {
        text-align: justify;
    }
</style>

</body>
</html>
