<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>FLORA</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'flora/css/main.css' %}">
    <noscript>
        <link rel="stylesheet" href="{% static 'flora/css/noscript.css' %}">
    </noscript>
</head>

<body class="is-preload">

<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="{% url 'flora:index' %}">FLORALOVELY</a></h1>
        <!-- Menu -->
        <nav id="nav">
            <ul>
                <li class="special">
                    <a href="#menu" class="menuToggle"><span>Меню</span></a>
                    <div id="menu">
                        {% if menu_list %}
                            <ul>
                                {% for k, v in menu_list.items %}
                                    <li><a href="/{{ k }}">{{ v }}</a></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>No menu items are available.</p>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <article id="main3">
        <header>
            <h2>Инфографика</h2>
            <p>Здесь визуализируются численные показатели проекта</p>
        </header>

        <section class="wrapper style5">
            <div class="inner">
                <h3>Популярность растений</h3>

                <div class="box alt">
                    <div class="row gtr-50 gtr-uniform">
                        <div class="col-4">
{#                            {{ graph | safe }}#}
                            <img src="data:image/png;base64, {{ graph }}" alt="Image" class="responsive">
{#                            <img src="{{ graph | safe }}">#}
                        </div>


                    </div>
                </div>

            </div>
        </section>
    </article>

    <!-- Footer -->
    <footer id="footer">
        <ul class="copyright">
            <li>&copy; Покидова Алина</li>
            <li>Михайлов Илья</li>
            <li>Сигусов Виталий</li>
            <li>2022-2023</li>
        </ul>
    </footer>

</div>

<!-- Scripts -->
<script type="text/javascript" src="{% static 'flora/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/jquery.scrollex.min.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/jquery.scrolly.min.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/browser.min.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/breakpoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/util.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/main.js' %}"></script>


<style>
    .responsive {
        max-width: 300%;
        height: auto;
    }
</style>

</body>
</html>
