<!DOCTYPE HTML>
<body lang="en">

<head>
    <title>FLORA</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'flora/css/main.css' %}">
    <noscript>
        <link rel="stylesheet" href="{% static 'flora/css/noscript.css' %}">
    </noscript>
</head>

<body class="landing is-preload">

<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Header -->
    <header id="header" class="alt">
        <h1><a href="{% url 'flora:index' %}">FLORALOVELY</a></h1>
        <!-- Menu -->
        <nav id="nav">
            <ul>
                <li class="special">
                    <a href="#menu" class="menuToggle"><span>Меню</span></a>
                    <div id="menu">
                        {% if menu_list %}
                            <ul>
                                {% for k, v in menu_list.items %}
                                    <li><a href="/{{ k }}">{{ v }}</a></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>No menu items are available.</p>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <h2>
                <img src="{% static 'flora/images/logo.svg' %}" style="margin: 20px" alt="LOGO">
            </h2>
            <p>
                откройте для себя<br/>
                сайт по подбору ухода<br/>
                за растениями
            </p>
        </div>
        <a href="#two" class="more scrolly">Узнать больше</a>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper alt style2">
        <section class="spotlight">
            <div class="image">
                <img src="{% static 'flora/images/pic01.jpg' %}" alt="pic01">
            </div>
            <div class="content">
                <h2>Комнатные растения</h2>
                <p style="text-align: justify">Уход за комнатными растениями — приятное занятие, которое может
                    превратиться в настоящее хобби.
                    Существует несколько важных правил, которые позволяют содержать домашний садик в порядке и красоте
                    (и они под силу не только профессионалам). Вам осталось прочитать <a href="{% url 'flora:houseplants' %}">статью</a>
                    и вооружиться терпением:
                    потребуется время, чтобы ваша герань расцвела в полную мощь, но ожидание того стоит! </p>
            </div>
        </section>

        <section class="spotlight">
            <div class="image">
                <img src="{% static 'flora/images/pic02.jpg' %}" alt="pic02">
            </div>
            <div class="content">
                <h2>Уличные растения</h2>
                <p style="text-align: justify">
                    Выращивание растений и особенно цветов неизменно приносит удовольствие человеку, взявшемуся за это
                    дело. Не всегда и не сразу это может получиться. Бывают и разочарования. Чтобы их было меньше, нужна
                    достоверная информация о растениях. </p>
            </div>
        </section>

        <section class="spotlight">
            <div class="image">
                <img src="{% static 'flora/images/pic03.jpg' %}" alt="pic03">
            </div>
            <div class="content">
                <h2>Букеты</h2>
                <p style="text-align: justify">
                    Получить в подарок букет — это всегда счастье! Хочется, чтобы цветы дольше оставались свежими? Мы
                    знаем, как это сделать.
                </p>
            </div>
        </section>

{#        <div style="display: flex; justify-content: center; padding: 30px">#}
{#            <iframe width="560" height="315" src="https://www.youtube.com/embed/p1pHzYbfOnE"#}
{#                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;#}
{#									clipboard-write; encrypted-media; gyroscope; picture-in-picture"#}
{#                    allowfullscreen></iframe>#}
{#        </div>#}

    </section>

    <!-- Footer -->
    <footer id="footer">
        <ul class="copyright">
            <li>&copy; Покидова Алина</li>
            <li>Михайлов Илья</li>
            <li>Сигусов Виталий</li>
            <li>2022-2023</li>
        </ul>
    </footer>

</div>
</body>

<style>
    * {
        box-sizing: border-box
    }
</style>

<!-- Scripts -->
<script type="text/javascript" src="{% static 'flora/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/jquery.scrollex.min.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/jquery.scrolly.min.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/browser.min.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/breakpoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/util.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/main.js' %}"></script>

</body>
</html>
