<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>FLORA</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'flora/css/main.css' %}">
    <noscript>
        <link rel="stylesheet" href="{% static 'flora/css/noscript.css' %}">
    </noscript>
</head>

<body class="is-preload">

<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="{% url 'flora:index' %}">FLORALOVELY</a></h1>
        <!-- Menu -->
        <nav id="nav">
            <ul>
                <li class="special">
                    <a href="#menu" class="menuToggle"><span>Меню</span></a>
                    <div id="menu">
                        {% if menu_list %}
                            <ul>
                                {% for k, v in menu_list.items %}
                                    <li><a href="/{{ k }}">{{ v }}</a></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>No menu items are available.</p>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <article id="main4">
        <header>
            <h2>уличные растения</h2>
            <p>Здесь можно узнать о том, как ухаживать за садовыми растениями</p>
        </header>

        <section class="wrapper style4">
            <div class="inner">
                <h3>Уход за садом. 4 времени года</h3>

                <h4>Зима</h4>
                <p class="paragraph">
                    Традиционно Зимний период характеризуется обилием снегопадов,
                    которые зачастую покрывают снежными шапками все растения на территории участка.
                    Но, за этим великолепием кроется большая опасность,
                    так как излишний вес влечет за собой сломанные ветви на не высоких (до 3-х метров) хвойных деревьях
                    и как следствие к потере их кронами декоративности.
                    Особые проблемы таят в себе осадки в виде мокрого снега и ледяного дождя.
                    После которых следует не только стряхивать снег с лап хвойников,
                    но и проводить рыхление снежных валов,
                    чтобы разбить ледяную корку на площадях занятых под газонами и клумбами из многолетников.
                </p>
                <p class="paragraph">Самые важные параметры ухода за цветком:
                    Случаи малоснежных зим так же несут в себе серьезную опасность для растений. Из-за недостаточной
                    почвенной
                    влажности происходит промерзание корневых систем. В этих условиях необходимо проводить работы по
                    снегозадержанию,
                    утеплению корневых систем растений и накоплению влаги. Методы зависят от подручных средств и
                    возможностей садовода.
                    Можно использовать торф, лапник, опавшую листву, солому и снег с участков подлежащих чистке
                    (крыльцо, дорожки, стояночные площадки),
                    но снег должен быть чистым, без химических реагентов, солей, применяемых против образования льда.
                </p>

                <hr>

                <h4>Весна</h4>
                <p class="paragraph">В Весенний период у садовода самая горячая пора. Не лишними будут мероприятия
                    по снегозадержанию, что бы корни растений не остались без почвенной влаги, до возможности
                    подключения
                    дополнительного полива. А также утаптывают снег во круг стволов от повреждений грызунами коры
                    плодовых деревьев.
                </p>
                <p class="paragraph">При устойчивой температуре воздуха от +1….+4 начинают
                    разбирать зимние укрытия с декоративных кустарников, лиан и роз.<br><br>

                    Со сходом снежных масс стараются, как можно быстрее, привести в порядок территорию участка:
                    в сухую погоду прочесывают войлок с газонов острыми веерными граблями (аэрация), собирают осенние
                    листья с клумб из многолетников и в саду, под плодовыми деревьями и кустарниками.<br><br>

                    Собранные растительные остатки складируют в компостные ямы/кучи или специально собранные
                    ящики/контейнеры,
                    добавляют к ним золу, известь, минеральные удобрения, и оставляют до образования компоста, получая
                    таким образом, домашнее органическое удобрение.<br><br>

                    До фазы набухания почек обрезают плодовые деревья и кустарники. Зачищают стволы от гнили
                    металлическими щетками, при необходимости вскрывают острым садовым ножом морозобоины и
                    образовавшиеся язвы,
                    вырезают отмершую древесину, дезинфицируют растворами пестицидов, заделывают дупла. Обновляют
                    побелку
                    штамбов и скелетных ветвей. Проверяют колышки и подвязки у деревьев.<br><br>

                    Проводят профилактические химические обработки растений (например: раствор 0,5 кг. мочевины на 10
                    лит. воды)
                    и комплексные химобработки (смесь взаимодействующих фунгицидов и инсектицидов) от болезней и
                    вредителей в садах.<br><br>

                    Добавляют землю к просевшим и размытым лункам свежих посадок. Уплотняют почву вокруг молодых
                    деревьев и
                    кустарников. Перекапывают и готовят почву под посадку овощных культур. Рыхлят земляную корку под
                    деревьями
                    и кустами на глубину до 5 см., а также почву между многолетними травяными культурами.<br><br>

                    Можно мульчировать, практически все, растительные культуры.<br><br>

                    Если осенью не удалось своевременно внести компост, это можно сделать ранней весной, и чем раньше,
                    тем лучше,
                    чтобы семена сорняков, содержащихся в компостной почво-смеси успели прорасти.<br><br>

                    С появлением сорной растительности проводят регулярные прополки. А так же хим. обработки (применение
                    избирательных гербицидов) направленные на искоренение сорных растений на газонах. Проводят борьбу с
                    многолетними
                    сорняками (гербициды сплошного действия) на мощеных участках, дорожках и гравийных подъездных
                    аллеях.<br><br>

                    Проверяют дренаж. Если после дождя вода долгое время стоит у поверхности почвы, то нужно
                    проложить дренаж в местах с постоянным увлажнением.<br><br>

                    Учитывая температурные условия приступают к высадке декоративных и плодовых кустарников,
                    саженцев; делению и посадке многолетников, летников; высадке овощной рассады и зеленных культур в
                    теплицы, а за тем в открытый грунт.<br><br>

                    Ближе к лету, в подходящую погоду (тепло, пасмурно и дождливо) вносят весенние комплексные
                    минеральные удобрения подо все растительные культуры, согласно дозам рассчитанных для вегетации этих
                    видов.<br><br>

                    В это время, на газонах, можно провести профилактику против образования и разрастания мха,
                    разбросать песок и внести средства против мха, содержащие сульфат аммония.<br><br>

                    По степени отрастания газонов приступают к систематическому кошению, предварительно
                    прикатывают дерн, если он был приподнят морозом.<br><br>

                    Необходимо обеспечение дополнительного полива растений в засушливое время.
                </p>

                <hr>

                <h4>Лето</h4>
                <p class="paragraph">В начале Лета сразу после окончания цветения первоцветов занимаемся посадкой
                    однолетних культур (бархатцев,
                    петуний, виолы и других).<br><br>

                    Проводят регулярные мероприятия по уходу за газоном: своевременное кошение, внесение азотных
                    подкормок, внесение средства
                    против мха, землевание, пескование, борьба с сорной растительностью химическим и механическим
                    способом, дополнительные поливы.
                    При наличии отмершего мха его сгребают веерными граблями.<br><br>

                    Восстанавливают выпавшие участки газона, путем подсеивания семян или аппликаций из рулонного газона.<br><br>

                    Лето - очень благодатное время, учитывая погодные условия, для устройства новых газонов как
                    посевных, так и рулонных. Тепло и
                    влага обеспечивают быстрое образование мощной дернины.<br><br>

                    Частый осмотр растений на территории участка помогает своевременно выявлять наличие не инфекционных
                    заболеваний, вредителей и
                    болезней, что приводит к быстрому реагированию на решение проблем, будь то внесение недостающих
                    микроэлементов, регуляторов
                    роста или химические обработки. Выявляют наличие улиток и слизней в цветниках, бордюрах и грядках,
                    принимают меры по борьбе с
                    ними: сбор моллюсков вручную или применение химических препаратов против улиток.<br><br>

                    Самые популярные летом работы-это рыхление почвы и удаление сорной растительности под декоративными
                    деревьями и кустарниками,
                    плодовыми деревьями и кустарниками, на цветочных клумбах, овощных и зеленных грядках (открытого и
                    закрытого грунта). Что бы
                    минимизировать этот процесс, можно провести мульчирование почвы как под деревьями и кустарниками в
                    саду, так и под овощными
                    и цветочными культурами. Укладывать мульчу следует на рыхлую и прополотую прикорневую зону, мелкие
                    фракции можно заделать в
                    верхний слой почвы. Мульча затруднит рост сорняков и сохранит влагу в около корневом пространстве
                    почвы. Использование декоративной
                    мульчи из крупных фракций коры хвойных пород, цветной мульчи придаст участку благородный, ухоженный
                    вид.<br><br>

                    Что бы растения радовали опрятным внешним видом, в не жаркую погоду, проводят формирующие обрезки
                    живых изгородей, а таже уделяют
                    внимание санитарным обрезкам, удалению сухих, больных и поломанных ветвей, отцветших соцветий и
                    пожелтевших листьев на декоративных
                    кустарниках и многолетниках.<br><br>

                    Растительные остатки после прополки и кошения, собирают и складируют в компостные кучи/ящики,
                    добавляя в них навоз, костную
                    муку, золу, известь и пересыпая слоем земли. Скошенную траву перед тем, как внести в кучу,
                    подсушивают, иначе она образует
                    сырой слежавшийся слой и загнивает.<br><br>

                    Компостную кучу не следует оставлять без присмотра, что бы можно было вовремя исправить ошибки и не
                    потерять вложенный
                    в нее труд. Плотную кучу перетряхивают, а рыхлую утрамбовывают. Для обеспечения доступа воздуха
                    периодически перемешивают
                    и переворачивают компост вилами. Следят за оптимальной влажностью. Куча не должна быть слишком
                    влажной или слишком сухой.
                    Если низ кучи слишком мокрый, следует вырыть канавку для оттока лишней воды, если куча сухая, то ее
                    поливают сверху водой.
                    Обычно на созревание компоста требуется от одного до полутора лет. Поэтому на компостной площадке
                    изначально отводится несколько
                    мест: одна в процессе закладки, другая — зреющая и еще одна в процессе использования.<br><br>
                </p>

                <hr/>

                <h4>Осень</h4>
                <p class="paragraph">
                    Осень — пора сбора урожая и подготовки сада к зимним холодам. Очень ответственный период.
                    От того как уйдут в зиму декоративные,
                    плодовые и плодово-ягодные растения зависит их весеннее пробуждение.<br><br>

                    Внесение, правильно подобранных, осенних комплексных удобрений под древесные и травяные культуры
                    значительно повышает уровень накопления питательных веществ в корневых системах,
                    что обеспечивает полноценный выход растений весной из зимнего периода.
                    При хорошем старте растения вырастут здоровыми и смогут противостоять многим невзгодам.<br><br>

                    В эту пору приступают к делению, посадке и пересадке многолетников. Посадке луковиц перво-цветов,
                    высадке декоративных и плодовых кустарников, саженцев.
                    Подготавливают посадочные ямы для зимней посадки крупномерных деревьев.<br><br>

                    Рыхление почвы и удаление сорной растительности проводят под всеми культурами.
                    После снятия урожая с открытого грунта, грядки перекапывают с добавлением органического удобрения,
                    компоста и полным переворотом земляного пласта.
                    О готовности компоста судят по тому, что составляющие его растительные остатки теряют свою
                    естественную форму и становятся неразличимыми в общей массе.
                    Спелый компост представляет собой рассыпчатый материал темно-коричневого цвета со свежим запахом
                    лесной земли.<br><br>

                    Стараются не оставлять осенью голую землю на месте грядок, ее укрывают скошенной травой,
                    срезанными цветами и мелкими ветками.
                    Сняв это укрытие весной, получаем живую землю, заселенную земляными червями.<br><br>

                    Проводят формирующие и санитарные обрезки деревьев и кустарника.<br><br>

                    Работы на газонах: систематическое кошение, желательная высота травостоя 5-8 см.
                    перед уходом под снежный покров.
                    После листопада проводят сбор листвы веерными граблями,
                    с площадей занятых под газоном, что бы предотвратить перегрева
                    зеленой массы травы и выпада корневой системы.<br><br>

                    С середины осени подготавливают цветники к зиме: снимают летники, подрезают многолетние культуры.
                    Укрывают "сухой" листвой свежие посадки многолетников.<br><br>

                    С потерей кроны листьев приступают к обрезке плодовых деревьев и кустарников.
                    Зачищают стволы от гнили, дезинфицируют,  заделывают дупла,
                    обновляют побелку штамбов и скелетных ветвей.
                    Очень важна общая гигиена сада, поэтому удаляют любой больной растительный материал,
                    опавшие плоды, листья с пятнами и любые органические остатки.<br><br>

                    Проводят плановые комплексные и "искореняющие", профилактические хим.
                    обработки от болезней и вредителей.<br><br>

                    При устойчивом снижении температуры воздуха до -4/-8, возводят зимние укрытия над декоративными
                    кустарниками, лианами и розами.<br><br>
                </p>
            </div>
        </section>
    </article>
    <div>

    </div>

    <!-- Footer -->
    <footer id="footer">
        <ul class="copyright">
            <li>&copy; Покидова Алина</li>
            <li>Михайлов Илья</li>
            <li>Сигусов Виталий</li>
            <li>2022-2023</li>
        </ul>
    </footer>

</div>

<!-- Scripts -->
<script type="text/javascript" src="{% static 'flora/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/jquery.scrollex.min.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/jquery.scrolly.min.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/browser.min.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/breakpoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/util.js' %}"></script>
<script type="text/javascript" src="{% static 'flora/js/main.js' %}"></script>

<style>
    .paragraph {
        text-align: justify;
    }
</style>

</body>
</html>
